<div class="move-card">
  <div class="move-info item-name" data-item-id="{{_id}}">
    <img src="{{img}}" data-edit="img" title="{{name}}" height="15" width="15" />
    <a class="move-card-text item-edit">{{name}}</a>
    <a class="item-control item-delete" title="{{localize 'k4lt.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
</div>