<div class="move-card">
  <div class="move-info item-name" data-item-id="{{_id}}">
    <img src="{{img}}" title="{{name}}"/>
    <a class="move-card-text item-edit">{{name}}</a>

    <a class="item-control item-delete" title="{{localize 'k4lt.DeleteItem'}}">
      <i class="fas fa-trash"></i>
    </a>
    <a class="item-control item-edit" title="{{localize 'k4lt.EditItem'}}">
      <i class="fas fa-edit"></i>
    </a>
    
  </div>
</div>