<option value="1">{{localize 'k4lt.LevelAttributes.1'}}</option>
<option value="2">{{localize 'k4lt.LevelAttributes.2'}}</option>
<option value="3">{{localize 'k4lt.LevelAttributes.3'}}</option>
<option value="4">{{localize 'k4lt.LevelAttributes.4'}}</option>
<option value="5">{{localize 'k4lt.LevelAttributes.5'}}</option>
<option value="6">{{localize 'k4lt.LevelAttributes.6'}}</option>
<option value="7">{{localize 'k4lt.LevelAttributes.7'}}</option>
<option value="8">{{localize 'k4lt.LevelAttributes.8'}}</option>
<option value="9">{{localize 'k4lt.LevelAttributes.9'}}</option>
<option value="10">{{localize 'k4lt.LevelAttributes.10'}}</option>