<div class="move-card">
  <div class="move-info item-name" data-item-id="{{_id}}">
    <a class="move-card-text item-edit"> {{system.target}} ({{name}}): {{system.strength}}</a>
    <a class="item-control item-delete" title="{{localize 'k4lt.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
</div>