<!-- trait-viewer.hbs -->
<section class="k4lt-section k4lt-flex k4lt-flex-col k4lt-gap-md">
  <fieldset class="k4lt-sheet-block">
    <legend>{{localize "k4lt.ui.Type"}}</legend>
    {{#if (eq system.type "active")}}
      {{localize "k4lt.ui.Active"}}
    {{else}}
      {{localize "k4lt.ui.Passive"}}
    {{/if}}
  </fieldset>
  {{#if system.attributemod}}
    <fieldset class="k4lt-sheet-block">
      <legend>{{localize "k4lt.mechanics.AttributePrompt"}}</legend>
      {{localize (concat "k4lt.attributes." (capitalize system.attributemod))}}
    </fieldset>
  {{/if}}
  {{#if system.effect}}
    <fieldset class="k4lt-sheet-block">
      <legend>{{localize "k4lt.ui.Effect"}}</legend>
      <div class="k4lt-viewer-richtext">{{{system.effect}}}</div>
    </fieldset>
  {{/if}}
  {{#if system.options}}
    <fieldset class="k4lt-sheet-block">
      <legend>{{localize "k4lt.ui.Options"}}</legend>
      <div class="k4lt-viewer-richtext">{{{system.options}}}</div>
    </fieldset>
  {{/if}}
  {{#if (eq system.type "active")}}
    <fieldset class="k4lt-sheet-block">
      <legend>{{localize "k4lt.ui.Results"}}</legend>
      {{#if system.completesuccess}}
        <div class="k4lt-viewer-result success">
          <label class="k4lt-viewer-result-label">15+</label>
          {{{system.completesuccess}}}
        </div>
      {{/if}}
      {{#if system.partialsuccess}}
        <div class="k4lt-viewer-result partial">
          <label class="k4lt-viewer-result-label">10–14</label>
          {{{system.partialsuccess}}}
        </div>
      {{/if}}
      {{#if system.failure}}
        <div class="k4lt-viewer-result failure">
          <label class="k4lt-viewer-result-label">0–9</label>
          {{{system.failure}}}
        </div>
      {{/if}}
    </fieldset>
  {{/if}}
</section>