<div class="blood-img" style="background-image: url('{{getBloodBackground}}');">
  <div class='result-roll'>
    <div class='tooltip'>
      {{total}}
      <span class='tooltiptext'>{{result}}</span>
    </div>
  </div>
  <div class='move-name'>{{moveName}}</div>
  <div class='move-name'>{{resultText}}</div>
  <div class='move-result'>{{{moveResultText}}}</div>
  <div class='move-options'>{{{optionsText}}}</div>
</div>