<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="kult-item-sheet">
    <div>
      <label>{{localize "k4lt.Uses"}}:</label>
      <span>
        <input name="data.ammo.value" style="width: 80px" type="text" value="{{data.ammo.value}}">/<input name="data.ammo.max"
          style="width: 80px" type="number" value="{{data.ammo.max}}">
      </span>
    </div>
    <div class="editor-row">
      <label>{{localize "k4lt.Description"}}:</label>
      <div>{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
    </div>
  </div>
</form>