<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="kult-item-sheet">
    <div>
      <label>{{localize "k4lt.Uses"}}:</label>
      <span>
        <input name="system.ammo.value" style="width: 80px" type="text" value="{{system.ammo.value}}" />/<input
          name="system.ammo.max"
          style="width: 80px"
          type="number"
          value="{{system.ammo.max}}"
        />
      </span>
    </div>
    <div class="editor-row">
      <label>{{localize "k4lt.Description"}}:</label>
      <div>{{editor system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}</div>
    </div>
  </div>
</form>