{{!log "npc-sheet" this}}
<form class="{{cssClass}} kult-sheet" autocomplete="off">
  <header class="sheet-header">
    <div class="flex-container top-section">
      <div class="npc-home">
        <label for="npc-home" class="section-label">{{localize "k4lt.NPC.Home"}}</label>
        <input id="npc-home" type="text" class="border-rect" value="{{system.home}}" name="system.home" />
      </div>
      <br>
      <div class="npc-type">
        <label for="npc-type" class="section-label">{{localize "k4lt.NPC.Type"}}</label>
        <input id="npc-type" type="text" class="border-rect" value="{{system.creaturetype}}" name="system.creaturetype" />
      </div>
    </div> 
    <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
  </header>
  <div class="flex-container">
            <img class="actor-picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="324" width="200" />
             <div style="width: 98% !important;">
                <div class="section-label">{{localize "k4lt.Description"}}</div>
                <div class="free-text">
                    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
    </div>
  <section class="flexcol" style="gap: .5rem; margin-top: 1rem;">
       <div class="npc-abilities">
      <div class="section-label">{{localize "k4lt.Abilities"}}</div>
      <div class="free-text">
        {{editor system.abilities target="system.abilities" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="npc-harm">
      <div class="section-label">{{localize "k4lt.Harm"}}</div>
      <div class="free-text">
        <div class="npc-harm-taken">
          <label for="npc-harm-taken">{{localize "k4lt.HarmTaken"}}:</label>
          <input id="npc-harm-taken" class="short-input" style="width: 80px" name="system.harm.value" value="{{system.harm.value}}" type="text" />
          <span>/</span>
          <input class="short-input" style="width: 80px" name="system.harm.max" value="{{system.harm.max}}" type="text" aria-label="Max Harm" data-dtype="Number" />
        </div>
        {{editor system.harmmoves target="system.harmmoves" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="npc-attacks">
      <div class="section-label">{{localize "k4lt.Attacks"}}</div>
      <div class="free-text">
        {{editor system.attacks target="system.attacks" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="npc-combat">
      <div class="section-label">{{localize "k4lt.Combat"}}</div>
      <div class="free-text">
        {{editor system.combatmoves target="system.combatmoves" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="npc-influence">
      <div class="section-label">{{localize "k4lt.Influence"}}</div>
      <div class="free-text">
        {{editor system.influencemoves target="system.influencemoves" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="npc-magic">
      <div class="section-label">{{localize "k4lt.Magic"}}</div>
      <div class="free-text">
        {{editor system.magicmoves target="system.magicmoves" button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>