<form class="{{cssClass}} kult-sheet" autocomplete="off">
    <header class="sheet-header">
        <script src="systems/k4lt/scripts/delete.js"></script>
        <script src="systems/k4lt/scripts/getAttribute.js"></script>
        <script src="systems/k4lt/scripts/picHover.js"></script>
        <script>
// On récupère les éléments du DOM
const wounds = document.querySelectorAll('.wound');

// On ajoute un événement click sur chaque image
wounds.forEach((wound) => {
  wound.addEventListener('click', () => {
    // On récupère l'état actuel de l'image
    const state = wound.getAttribute('src');

    // On définit les différents états de l'image
    const neutral = 'systems/k4lt/assets/blank.webp';
    const serious = 'systems/k4lt/assets/bleeding-wound.webp';
    const stabilized = 'systems/k4lt/assets/sticking-plaster.webp';
    const critical = 'systems/k4lt/assets/bleeding-wound.webp';

    // On modifie l'état de l'image en fonction de l'état actuel
    if (state === neutral) {
      wound.setAttribute('src', serious);
    } else if (state === serious) {
      wound.setAttribute('src', stabilized);
    } else if (state === stabilized) {
      wound.setAttribute('src', neutral);
    } else if (state === critical) {
      wound.setAttribute('src', neutral);
    } else {
      wound.setAttribute('src', critical);
    }
  });
});
       </script>
 


        <div class="flex-container top-section">
            <div class="forward">
                {{localize "k4lt.Forward"}}:
                <select class="hidden-select" name="data.forward" value="{{data.forward}}">
                    {{#select data.forward}}
                        {{>"systems/k4lt/templates/partials/modifier-values.hbs"}}
                    {{/select}}
                </select>
            </div>
            <div class="situational-modifier">
                {{localize "k4lt.SitMod"}}:
                <select class="hidden-select" name="data.sitmod" value="{{data.sitmod}}">
                    {{#select data.sitmod}}
                        {{>"systems/k4lt/templates/partials/modifier-values.hbs"}}
                    {{/select}}
                </select>
            </div>
            <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <div class="flex-container">
            <img class="actor-picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="324" width="200" />
             <div style="width: 98% !important;">
                <div class="section-label">{{localize "k4lt.WhoAreYou"}}</div>
                <div class="free-text">
                    {{editor content=data.whoareyou target="data.whoareyou" button=true owner=owner editable=editable}}
                </div>
            </div>
    </div>
    
    <div class="navigation-section">
        <a class="tabButton" data-tab="Stats">{{localize "k4lt.Stats"}}</a>
        <a class="tabButton" data-tab="Background">{{localize "k4lt.Background"}}</a>
        <a class="tabButton" data-tab="Notes">{{localize "k4lt.Notes"}}</a>
    </div>
    <div id="Stats" class="stats-section {{actor._id}}-tab">
        <div class="middle-section">
            <div class="attribute-column">
                <table class="attribute-box" style="table-layout: fixed; width: 200px; height:500px;">
                    <tr>
                        <td></td>
                        <td class="willpic">
                            <select class="foo" name="data.attributes.willpower" value="{{data.attributes.willpower}}">
                                {{#select data.attributes.willpower}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="fortpic">
                            <select class="foo" name="data.attributes.fortitude" value="{{data.attributes.fortitude}}">
                                {{#select data.attributes.fortitude}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Willpower"}}</td>
                        <td class="refpic">
                            <select class="foo" name="data.attributes.reflexes" value="{{data.attributes.reflexes}}">
                                {{#select data.attributes.reflexes}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Fortitude"}}</td>
                        <td></td>
                        <td>{{localize "k4lt.Reflexes"}}</td>
                    </tr>
                    <tr>
                        <td class="reasonpic">
                            <select class="foo" name="data.attributes.reason" value="{{data.attributes.reason}}">
                                {{#select data.attributes.reason}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td class="attmid"></td>
                        <td class="intupic">
                            <select class="foo" name="data.attributes.intuition" value="{{data.attributes.intuition}}">
                                {{#select data.attributes.intuition}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Reason"}}</td>
                        <td class="percpic">
                            <select class="foo" name="data.attributes.perception" value="{{data.attributes.perception}}">
                                {{#select data.attributes.perception}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Intuition"}}</td>
                    </tr>
                    <tr>
                        <td class="coolpic">
                            <select class="foo" name="data.attributes.coolness" value="{{data.attributes.coolness}}">
                                {{#select data.attributes.coolness}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Perception"}}</td>
                        <td class="violpic">
                            <select class="foo" name="data.attributes.violence" value="{{data.attributes.violence}}">
                                {{#select data.attributes.violence}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Coolness"}}</td>
                        <td class="chapic">
                            <select class="foo" name="data.attributes.charisma" value="{{data.attributes.charisma}}">
                                {{#select data.attributes.charisma}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Violence"}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{localize "k4lt.Charisma"}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="soulpic">
                            <select class="foo" name="data.attributes.soul" value="{{data.attributes.soul}}">
                                {{#select data.attributes.soul}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{localize "k4lt.Soul"}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="advantage-box">
                <div class="section-label">{{localize "k4lt.DarkSecrets"}}</div>
                <div class="item-list darksecret-list">
                    {{#each darksecrets as |darksecret id|}}
                        {{> "systems/k4lt/templates/partials/darksecret-card.hbs" darksecret}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Advantages"}}</div>
                <div class="item-list advantage-list">
                    {{#each advantages as |advantage id|}}
                        {{> "systems/k4lt/templates/partials/advantage-card.hbs" advantage}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Disadvantages"}}</div>
                <div class="item-list disadvantage-list">
                    {{#each disadvantages as |disadvantage id|}}
                        {{> "systems/k4lt/templates/partials/disadvantage-card.hbs" disadvantage}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Relationships"}}</div>
                <div class="item-list relationship-list">
                    {{#each relationships as |relationship id|}}
                        {{> "systems/k4lt/templates/partials/relationship-card.hbs" relationship}}
                    {{/each}}
                </div>
            </div>
            <div class="right-middle-column">
                <div class="section-label" style="margin-bottom: 12px;">{{localize "k4lt.Wounds"}}</div>
                
<div class="two-column-wound" id="serious-wounds">
    <input type="checkbox" id="maCaseACocher" name="system.majorwoundstate1" {{checked system.majorwoundstate1}}>
    <img id="wound1" class="wound" src="systems/k4lt/assets/blank.webp">
        <input type="text" name="data.majorwound1" value="{{data.majorwound1}}" placeholder="{{localize "k4lt.MajorWound1"}}">
</div>
<div class="two-column-wound" id="serious-wounds">
    <img id="wound2" class="wound" src="systems/k4lt/assets/blank.webp">
        <input type="text" name="data.majorwound2" value="{{data.majorwound2}}" placeholder="{{localize "k4lt.MajorWound2"}}">
</div>
<div class="two-column-wound" id="serious-wounds">
    <img id="wound3" class="wound" src="systems/k4lt/assets/blank.webp">
        <input type="text" name="data.majorwound3" value="{{data.majorwound3}}" placeholder="{{localize "k4lt.MajorWound3"}}">
</div>
<div class="two-column-wound" id="serious-wounds">
    <img id="wound4" class="wound" src="systems/k4lt/assets/blank.webp">
        <input type="text" name="data.majorwound4" value="{{data.majorwound4}}" placeholder="{{localize "k4lt.MajorWound4"}}">
</div>
<div class="two-column-wound" id="critical-wound">
    <img id="wound5" class="wound" src="systems/k4lt/assets/blank.webp">
        <input type="text" name="data.criticalwound" value="{{data.criticalwound}}" placeholder="{{localize "k4lt.CriticalWound"}}">
</div>




                <div class="flex-column stability-section">
                    <div class="section-label">{{localize "k4lt.Stability"}}</div>
                    <div>
                        <select name="data.stability.value" value="{{data.stability.value}}">{{#select data.stability.value}}
                            <option value="0">{{localize "k4lt.StabilityComposed"}}</option>
                            <option value="1">{{localize "k4lt.StabilityUneasy"}}</option>
                            <option value="2">{{localize "k4lt.StabilityUnfocused"}}</option>
                            <option value="3">{{localize "k4lt.StabilityShaken"}}</option>
                            <option value="4">{{localize "k4lt.StabilityDistressed"}}</option>
                            <option value="5">{{localize "k4lt.StabilityNeurotic"}}</option>
                            <option value="6">{{localize "k4lt.StabilityAnxious"}}</option>
                            <option value="7">{{localize "k4lt.StabilityIrrational"}}</option>
                            <option value="8">{{localize "k4lt.StabilityUnhinged"}}</option>
                            <option value="9">{{localize "k4lt.StabilityBroken"}}</option>
                        {{/select}}
                        </select>
                        <a class="stability-minus" title="{{localize "k4lt.MinusStability"}}"><i class="fas fa-minus-circle"></i></a>
                        <a class="stability-plus" title="{{localize "k4lt.PlusStability"}}"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="move-section">
                <div class="section-label">{{localize "k4lt.Moves"}}</div>
                <div class="item-list move-list">
                    {{#each moves as |move id|}}
                        {{#if (eq move.type "move")}}
                            {{> "systems/k4lt/templates/partials/move-card.hbs" move}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="weapon-section">
                <div class="section-label">{{localize "k4lt.Weapons"}}</div>
                <div class=" item-list weapon-list">
                    {{#each weapons as |weapon id|}}
                        {{> "systems/k4lt/templates/partials/weapon-card.hbs" weapon}}
                    {{/each}}
                </div>
            </div>
            <div class="gear-section">
                <div class="section-label">{{localize "k4lt.Gear"}}</div>
                <div class=" item-list weapon-list">
                    {{#each gear as |gear id|}}
                        {{> "systems/k4lt/templates/partials/gear-card.hbs" gear}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div id="Background" class="background-section {{actor._id}}-tab">
        <div class="two-column">
            <div "background-box">
                <div class="section-label">{{localize "k4lt.WhatYouHoldDear"}}</div>
                <div class="free-text">
                    {{editor content=data.whatyouholddear target="data.whatyouholddear" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div>
                <div class="section-label">{{localize "k4lt.ThingsInYourPossession"}}</div>
                <div class="free-text">
                    {{editor content=data.thingsinyourpossession target="data.thingsinyourpossession" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
         <div class="two-column">
            <div "background-box">
                <div class="section-label">{{localize "k4lt.RelationToTheOtherCharacters"}}</div>
                <div class="free-text">
                    {{editor content=data.relationtotheothercharacters target="data.relationtotheothercharacters" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div>
                <div class="section-label">{{localize "k4lt.DramaticHooks"}}</div>
                <div class="free-text">
                    {{editor content=data.dramatichooks target="data.dramatichooks" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
    <div id="Notes" class="background-section {{actor._id}}-tab">
        <div class="one-column">
            <div "notes-box">
                <div class="free-text">
                    {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>


</form>
