{{!log 'pc-sheet' this}}
<form class="{{cssClass}} kult-sheet" autocomplete="off">
    <header class="sheet-header">
        <div class="flex-container top-section">
            <div class="forward">
                {{localize "k4lt.Forward"}}:
                <select class="hidden-select" name="system.forward" value="{{system.forward}}">
                    {{#select system.forward}}
                        {{>"systems/k4lt/templates/partials/modifier-values.hbs"}}
                    {{/select}}
                </select>
            </div>
            <div class="situational-modifier">
                {{localize "k4lt.SitMod"}}:
                <select class="hidden-select" name="system.sitmod" value="{{system.sitmod}}">
                    {{#select system.sitmod}}
                        {{>"systems/k4lt/templates/partials/modifier-values.hbs"}}
                    {{/select}}
                </select>
            </div>
            <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <div class="flex-container">
            <img class="actor-picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="324" width="200" />
             <div style="width: 98% !important;">
                <div class="section-label">{{localize "k4lt.WhoAreYou"}}</div>
                <div class="free-text">
                    {{editor system.whoareyou target="system.whoareyou" button=true owner=owner editable=editable}}
                </div>
            </div>
    </div>
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs align-center" data-group="primary">
        <a class="choice" data-tab="Stats">{{localize "k4lt.Stats"}}</a>
        <a class="choice" data-tab="Background">{{localize "k4lt.Background"}}</a>
        <a class="choice" data-tab="Notes">{{localize "k4lt.Notes"}}</a>
    </nav>   

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        
    {{!-- Stats Tab --}}
    <div id="Stats" class="tab stats-section {{actor._id}}-tab" data-group="primary" data-tab="Stats">
        <div class="middle-section">
            <div class="attribute-column">
                <table class="attribute-box" style="table-layout: fixed; width: 200px; height:500px;">
                    <tr>
                        <td></td>
                        <td class="willpic">
                            <select class="foo" name="system.attributes.willpower" value="{{system.attributes.willpower}}">
                                {{#select system.attributes.willpower}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="fortpic">
                            <select class="foo" name="system.attributes.fortitude" value="{{system.attributes.fortitude}}">
                                {{#select system.attributes.fortitude}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Willpower"}}</td>
                        <td class="refpic">
                            <select class="foo" name="system.attributes.reflexes" value="{{system.attributes.reflexes}}">
                                {{#select system.attributes.reflexes}}
                                    {{>"systems/k4lt/templates/partials/passive-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Fortitude"}}</td>
                        <td></td>
                        <td>{{localize "k4lt.Reflexes"}}</td>
                    </tr>
                    <tr>
                        <td class="reasonpic">
                            <select class="foo" name="system.attributes.reason" value="{{system.attributes.reason}}">
                                {{#select system.attributes.reason}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td class="attmid"></td>
                        <td class="intupic">
                            <select class="foo" name="system.attributes.intuition" value="{{system.attributes.intuition}}">
                                {{#select system.attributes.intuition}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Reason"}}</td>
                        <td class="percpic">
                            <select class="foo" name="system.attributes.perception" value="{{system.attributes.perception}}">
                                {{#select system.attributes.perception}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Intuition"}}</td>
                    </tr>
                    <tr>
                        <td class="coolpic">
                            <select class="foo" name="system.attributes.coolness" value="{{system.attributes.coolness}}">
                                {{#select system.attributes.coolness}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Perception"}}</td>
                        <td class="violpic">
                            <select class="foo" name="system.attributes.violence" value="{{system.attributes.violence}}">
                                {{#select system.attributes.violence}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "k4lt.Coolness"}}</td>
                        <td class="chapic">
                            <select class="foo" name="system.attributes.charisma" value="{{system.attributes.charisma}}">
                                {{#select system.attributes.charisma}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td>{{localize "k4lt.Violence"}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{localize "k4lt.Charisma"}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="soulpic">
                            <select class="foo" name="system.attributes.soul" value="{{system.attributes.soul}}">
                                {{#select system.attributes.soul}}
                                    {{>"systems/k4lt/templates/partials/active-attribute-values.hbs"}}
                                {{/select}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{localize "k4lt.Soul"}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="advantage-box">
                <div class="section-label">{{localize "k4lt.DarkSecrets"}}</div>
                <div class="item-list darksecret-list">
                    {{#each darksecrets as |darksecret id|}}
                        {{> "systems/k4lt/templates/partials/darksecret-card.hbs" darksecret}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Advantages"}}</div>
                <div class="item-list advantage-list">
                    {{#each advantages as |advantage id|}}
                        {{> "systems/k4lt/templates/partials/advantage-card.hbs" advantage}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Disadvantages"}}</div>
                <div class="item-list disadvantage-list">
                    {{#each disadvantages as |disadvantage id|}}
                        {{> "systems/k4lt/templates/partials/disadvantage-card.hbs" disadvantage}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Relationships"}}</div>
                <div class="item-list relationship-list">
                    {{#each relationships as |relationship id|}}
                        {{> "systems/k4lt/templates/partials/relationship-card.hbs" relationship}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Abilities"}}</div>
                <div class="item-list abilitity-list">
                    {{#each abilitities as |abilitity id|}}
                        {{> "systems/k4lt/templates/partials/abilitity-card.hbs" abilitity}}
                    {{/each}}
                </div>
                <div class="section-label">{{localize "k4lt.Limitations"}}</div>
                <div class="item-list limitation-list">
                    {{#each limitations as |limitation id|}}
                        {{> "systems/k4lt/templates/partials/limitation-card.hbs" limitation}}
                    {{/each}}
                </div>
            </div>
            <div class="right-middle-column">
                <div class="section-label" style="margin-bottom: 12px;">{{localize "k4lt.Wounds"}}</div>
                
            <div class="two-column-wound serious-wounds">
                <img id="majorwound1" class="wound" src="{{getWoundsImage system.majorwound1.state}}">
                    <input type="text" name="system.majorwound1.value" value="{{system.majorwound1.value}}" placeholder="{{localize "k4lt.MajorWound1"}}">
            </div>

            <div class="two-column-wound serious-wounds">
                <img id="majorwound2" class="wound" src="{{getWoundsImage system.majorwound2.state}}">
                    <input type="text" name="system.majorwound2.value" value="{{system.majorwound2.value}}" placeholder="{{localize "k4lt.MajorWound2"}}">
            </div>

            <div class="two-column-wound serious-wounds">
                <img id="majorwound3" class="wound" src="{{getWoundsImage system.majorwound3.state}}">
                    <input type="text" name="system.majorwound3.value" value="{{system.majorwound3.value}}" placeholder="{{localize "k4lt.MajorWound3"}}">
            </div>

            <div class="two-column-wound serious-wounds">
                <img id="majorwound4" class="wound" src="{{getWoundsImage system.majorwound4.state}}">
                    <input type="text" name="system.majorwound4.value" value="{{system.majorwound4.value}}" placeholder="{{localize "k4lt.MajorWound4"}}">
            </div>

            <div class="two-column-wound critical-wound">
                <img id="criticalwound" class="wound" src="{{getWoundsImage system.criticalwound.state}}">
                    <input type="text" name="system.criticalwound.value" value="{{system.criticalwound.value}}" placeholder="{{localize "k4lt.CriticalWound"}}">
            </div>

            <div class="flex-column stability-section">
                <div class="section-label">{{localize "k4lt.Stability"}}</div>
                <div>
                    <select name="system.stability.value" value="{{system.stability.value}}">{{#select system.stability.value}}
                        <option value="0">{{localize "k4lt.StabilityComposed"}}</option>
                        <option value="1">{{localize "k4lt.StabilityUneasy"}}</option>
                        <option value="2">{{localize "k4lt.StabilityUnfocused"}}</option>
                        <option value="3">{{localize "k4lt.StabilityShaken"}}</option>
                        <option value="4">{{localize "k4lt.StabilityDistressed"}}</option>
                        <option value="5">{{localize "k4lt.StabilityNeurotic"}}</option>
                        <option value="6">{{localize "k4lt.StabilityAnxious"}}</option>
                        <option value="7">{{localize "k4lt.StabilityIrrational"}}</option>
                        <option value="8">{{localize "k4lt.StabilityUnhinged"}}</option>
                        <option value="9">{{localize "k4lt.StabilityBroken"}}</option>
                    {{/select}}
                    </select>
                    <a class="stability-minus" title="{{localize "k4lt.MinusStability"}}"><i class="fas fa-minus-circle"></i></a>
                    <a class="stability-plus" title="{{localize "k4lt.PlusStability"}}"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <h4 class="titlecaption">{{localize "k4lt.Caption"}} :</h4>
            <div class="two-column-wound">
                <img class="woundcaption" src="systems/k4lt/assets/blank.webp">
                <p>: {{localize "k4lt.NoWound"}}</p>
            </div>
            <div class="two-column-wound">
                <img class="woundcaption" src="systems/k4lt/assets/bleeding-wound.webp">
                <p>: {{localize "k4lt.OpenWound"}}</p>
            </div>
             <div class="two-column-wound">
                <img class="woundcaption" src="systems/k4lt/assets/sticking-plaster.webp">
                <p>: {{localize "k4lt.StabilizedWound"}}</p>
            </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="move-section">
                <div class="section-label">{{localize "k4lt.Moves"}}</div>
                <div class="item-list move-list">
                    {{#each moves as |move id|}}
                        {{#if (eq move.type "move")}}
                            {{> "systems/k4lt/templates/partials/move-card.hbs" move}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="weapon-section">
                <div class="section-label">{{localize "k4lt.Weapons"}}</div>
                <div class=" item-list weapon-list">
                    {{#each weapons as |weapon id|}}
                        {{> "systems/k4lt/templates/partials/weapon-card.hbs" weapon}}
                    {{/each}}
                </div>
            </div>
            <div class="gear-section">
                <div class="section-label">{{localize "k4lt.Gear"}}</div>
                <div class=" item-list weapon-list">
                    {{#each gear as |gear id|}}
                        {{> "systems/k4lt/templates/partials/gear-card.hbs" gear}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{!-- Background Tab --}}
    <div id="Background" class="tab background-section {{actor._id}}-tab" data-group="primary" data-tab="Background">
        <div class="two-column">
            <div "background-box">
                <div class="section-label"><input name="system.background.section1" type="text" style="border: none; background-color: transparent;" value="{{system.background.section1}}" placeholder="{{localize "k4lt.WhatYouHoldDear"}}" /></div>
                <div class="free-text">
                    {{editor system.whatyouholddear target="system.whatyouholddear" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div>
                <div class="section-label"><input name="system.background.section2" type="text" style="border: none; background-color: transparent;" value="{{system.background.section2}}" placeholder="{{localize "k4lt.ThingsInYourPossession"}}" /></div>
                <div class="free-text">
                    {{editor system.thingsinyourpossession target="system.thingsinyourpossession" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
         <div class="two-column">
            <div "background-box">
                <div class="section-label"><input name="system.background.section3" type="text" style="border: none; background-color: transparent;" value="{{system.background.section3}}" placeholder="{{localize "k4lt.RelationToTheOtherCharacters"}}" /></div>
                <div class="free-text">
                    {{editor system.relationtotheothercharacters target="system.relationtotheothercharacters" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div>
                <div class="section-label"><input name="system.background.section4" type="text" style="border: none; background-color: transparent;" value="{{system.background.section4}}" placeholder="{{localize "k4lt.DramaticHooks"}}" /></div>
                <div class="free-text">
                    {{editor system.dramatichooks target="system.dramatichooks" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>

    {{!-- Notes Tab --}}
    <div id="Notes" class="tab background-section {{actor._id}}-tab" data-group="primary" data-tab="Notes">
        <div class="one-column">
            <div "notes-box">
                <div class="free-text">
                    {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>

    </section>
    
</form>
