<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="kult-item-sheet">
    <div class="kult-item-flex">
      <div>
        <label>{{localize "k4lt.Range"}}:</label>
        <input name="system.range" type="text" style="width: 191px" value="{{system.range}}" />
      </div>
      <div>
        <label>{{localize "k4lt.Harm"}}:</label>
        <input name="system.harm" style="width: 80px" type="text" value="{{system.harm}}" data-dtype="Number" />
      </div>
    </div>
    <div>
      <label>{{localize "k4lt.Ammo"}}:</label>
      <span>
        <input class="short-input" style="width: 80px" name="system.ammo.value" type="number" data-dtype="Number" value="{{system.ammo.value}}" />/<input
          class="short-input"
          style="width: 80px"
          name="system.ammo.max"
          type="number"
          data-dtype="Number"
          value="{{system.ammo.max}}"
        />
      </span>
    </div>
    <div class="editor-row">
      <label>{{localize "k4lt.Special"}}:</label>
      <div>{{editor system.special target="system.special" button=true owner=owner editable=editable engine="prosemirror"}}</div>
    </div>
  </div>
</form>