<!-- dramatichook-sheet.hbs -->
<section class="k4lt-section k4lt-flex k4lt-flex-col k4lt-gap-md">
  <fieldset class="k4lt-sheet-block">
    <legend>{{localize "k4lt.ui.Description"}}</legend>
    {{formInput
      systemFields.description
      value=system.description
      enriched=system.description
      toggled=true
      engine="prosemirror"
    }}
  </fieldset>
  <fieldset class="k4lt-sheet-block">
    <legend>{{localize "k4lt.ui.LinkedElement"}}</legend>
    <input
      type="hidden"
      name="system.link"
      value="{{system.link}}"
    >
    <div class="k4lt-link-drop {{#unless linked}}empty{{/unless}}">
      {{#if linked}}
        <div
          class="k4lt-link-card"
          data-uuid="{{linked.uuid}}"
        >
          <img
            class="profile-img"
            src="{{linked.img}}"
            width="32"
            height="32"
          >
          <span>{{linked.name}}</span>
          <button
            type="button"
            class="k4lt-link-remove"
            data-action="unlink"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      {{else}}
        <div class="k4lt-link-empty">
          {{localize "k4lt.ui.DropHereAny"}}
        </div>
      {{/if}}
    </div>
  </fieldset>
  <fieldset class="k4lt-sheet-block">
    <legend>
      {{localize "k4lt.ui.DramaticHook.Status"}}
    </legend>
    <label class="k4lt-checkbox-row">
      <input
        type="checkbox"
        name="system.completed"
        {{checked system.completed}}
      >
      <span>
        {{localize "k4lt.ui.DramaticHook.Completed"}}
      </span>
    </label>
  </fieldset>
</section>